*{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient( to right, rgb(40, 40, 221), rgb(110, 110, 163));
}
.header-item{
    list-style: none;
    display: flex;
}
.item{
    margin: 25px 15px;
}
.header-item .item a{
    text-decoration: none;
    color: antiquewhite;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 18px;
}
.sign a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 8px;
    background-color: rgba(155, 155, 194, 0.356);
    color: antiquewhite;
    border-radius: 25px;
}
.sign a:hover{
    background-color: antiquewhite;
    color: rgb(40, 40, 221);
}